<h2>Admin Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-4">

        <div class="card p-3 shadow">
            <h4>Total Users</h4>
            <p>Manage doctors, patients and receptionists</p>
            <a href="/Admin/Users" class="btn btn-primary">View Users</a>
        </div>

    </div>


    <div class="col-md-4">

        <div class="card p-3 shadow">
            <h4>Appointments</h4>
            <p>Check patient bookings</p>
            <a href="/Patient/MyAppointments" class="btn btn-success">View</a>
        </div>

    </div>


    <div class="col-md-4">

        <div class="card p-3 shadow">
            <h4>Queues</h4>
            <p>Receptionist and doctor queues</p>
            <a href="/Receptionist/Queue" class="btn btn-warning">Open</a>
        </div>

    </div>

</div>