@model List<ClinicQueueFrontend.Models.User>

<h2>Users</h2>

<a class="btn btn-primary mb-3" href="/Admin/CreateUser">Add User</a>

<table class="table table-bordered">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    @if (Model != null)
    {
        foreach (var u in Model)
        {
            <tr>

                <td>@u.name</td>
                <td>@u.email</td>
                <td>@u.role</td>

            </tr>
        }
    }

</table>