<h2>Patient Dashboard</h2>

<hr />

<a href="/Patient/BookAppointment" class="btn btn-primary">
    Book Appointment
</a>

<a href="/Patient/MyAppointments" class="btn btn-success">
    My Appointments
</a>

<a href="/Patient/Prescriptions" class="btn btn-info">
    Prescriptions
</a>

<a href="/Patient/Reports" class="btn btn-warning">
    Reports
</a>