<h2>Receptionist Dashboard</h2>

<hr />

<div class="row">

    <div class="col-md-4">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5 class="card-title">Today's Queue</h5>
                <p class="card-text">Manage patient queue</p>
                <a href="/Receptionist/Queue" class="btn btn-primary">
                    View Queue
                </a>
            </div>
        </div>
    </div>

</div>